aiohttp~=3.9.3
async-timeout~=4.0.3
attrs~=21.2.0
certifi~=2024.2.2
chardet~=4.0.0
charset-normalizer~=2.0.4
discord~=1.7.3
disnake~=2.9.*
idna~=3.2
multidict~=5.1.0
requests~=2.31.0
timeloop~=1.0.2
typing-extensions~=3.10.0.2
urllib3~=2.2.1
yarl~=1.6.3
Pillow~=10.2.0
